x-google-config: &google_auth   
  api_key: ""          

x-cerebras-config: &cerebras_auth
  api_key: ""

model_list:
  - model_name: llm_proxy
    litellm_params:
      model: gemini/gemini-2.5-flash-lite
      <<: *google_auth

  - model_name: llm_proxy
    litellm_params:
      model: gemini/gemini-3-flash-preview
      <<: *google_auth

  - model_name: llm_proxy
    litellm_params:
      model: gemini/gemini-2.5-flash
      <<: *google_auth

  - model_name: llm_proxy
    litellm_params:
      model: cerebras/llama-3.3-70b
      <<: *cerebras_auth
    
  - model_name: llm_proxy
    litellm_params:
      model: cerebras/gpt-oss-120b
      <<: *cerebras_auth

  - model_name: llm_proxy
    litellm_params:
      model: cerebras/qwen-3-32b
      <<: *cerebras_auth

  - model_name: llm_proxy
    litellm_params:
      model: cerebras/llama3.1-8b
      <<: *cerebras_auth

literellm_settings:
  drop_params: true
  json_logs: true

router_settings:
  routing_strategy: "simple-shuffle"
  num_retries: 3
  timeout: 10
  cooldown_time: 60
